package view

import (
"jademd/obsidian"
"jademd/view/components"
)

templ Tubre(courses []obsidian.Course) {
<div id="coursepage">
    <h1>Tauferer tor</h1>
    @components.CourseCardCarousel(courses)
</div>
}
