package view

import (
	"jademd/obsidian"
	"jademd/view/components"
)

templ Tubre() {
	<h1>Tauferer tor</h1>
	@components.CourseCardStyles()
	@components.CourseCard(obsidian.Course{Name: "How to tubre a tubrer", CourseMetadata: obsidian.CourseMetadata{
		Color: "red",
	}})
}
