package components

import (
	"fmt"
	"jademd/obsidian"
)

templ CourseCard(course obsidian.Course) {
	<a href="example.com" class={ "coursecard" , fmt.Sprintf("card-color-%s", course.Color) }>
		<p>{ course.Name }</p>
	</a>
}
